[user]
	name = David Schontzler
	email = 2080286+schontz@users.noreply.github.com
[alias]
	co = checkout
	st = status
	ci = commit
	br = branch
	df = diff
	lg = log -p
[core]
	editor = vim -f
	excludesfile = /Users/schontz/.gitignore_global
[color]
	status = true
	diff = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
